* { font-family: "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑";}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body { background: white; }

.box1 {
  background: #f2f2f2;
}

.box2 {
  background: brown;
}

.box3 {
  background: lightblue;
}

.greenBox {
  background: darkgreen;
}